<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles/style.css" rel="stylesheet" type="text/css"/>

    <title>Authorization</title>
</head>

<body>

    <div class="alert alert-warning" role="alert" th:if="${param.error}">
        Неправильный логин или пароль!
    </div>

    <div class="alert alert-info" role="alert" th:if="${param.logout}">
        You have been logged out!
    </div>

    <h3>Test</h3>

    <div class="container h-100">
        <div class="col-6 mx-auto">
            <span class="align-middle">
                <div class="form-row justify-content-center foot-marg">
                    <h3>Авторизируйтесь</h3>
                </div>
                <form th:action="@{/index}" method="post">
                    <div class="form-row justify-content-center foot-marg">
                        <div class="col-auto">
                            <input type="text" class="form-control" name="username"
                                   id="formGroupUsernameInput" placeholder="Имя пользователя"/>
                        </div>
                    </div>
                    <div class="form-row justify-content-center foot-marg">
                        <div class="col-auto">
                            <input type="text" class="form-control" name="password"
                                   id="formGroupPasswordInput" placeholder="Пароль"/>
                        </div>
                    </div>
                    <div class="form-row justify-content-center foot-marg">
                        <button type="submit" class="btn btn-primary mt-2">Отправить</button>
                    </div>
                </form>
            </span>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>